_site/
.sass-cache/
Gemfile.lock
*.DS_Store
*.texpadtmp
*.aux
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.sublime-project
*.sublime-workspace
*.swp
.jekyll-metadata
*.pdf
*~
.nsf*
Makefile
.bundle
_sandbox
*.bak
.jekyll-cache/
compiled/
sandbox/
results.json
admin/
vendor/
_config.yml
tasks/deploy
pages/syllabus.md
_data/nav.yml


