<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
	  <div class="container content">
      <div class="row">
        <div class="col-md-12">
          {{ content }}
        </div> <!-- /col-md-12 -->
      </div> <!-- /row -->
      {% include footer.html %}
	  </div> <!-- /.container -->
    <script src="https://cdn.jsdelivr.net/npm/scamper-lang@1.5.35/dist/web/bundle.js" type="text/javascript"></script>
    <script>
      replaceCodeWidgets()
    </script>
  </body>
</html>
