<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
	  <div class="container content">
      <div class="row">
        <div class="col-md-12">
          {{ content }}
        </div> <!-- /col-md-12 -->
      </div> <!-- /row -->
      {% include footer.html %}
	  </div> <!-- /.container -->
    <script type="module">
      import * as Scamper from 'https://scamper.cs.grinnell.edu/js/scamper-web-2.7.7.js'
      Scamper.replaceCodeWidgets()
    </script>
  </body>
</html>
